.img-skill {
    width: 100px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.img-skill:hover {
    scale: 1.2;
}

.iconos {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border: solid white;
    border-radius:15px ;
}

