.sticky {
    background-color: rgba(190, 190, 190, 0.493);
    position: sticky;
    top: 0;
    z-index: 1000000;
    width: 100%;  
    border-bottom: solid 1px white; 
}


.nav-text {
    color: white !important;
    font-size: 1.1rem;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    margin-left: 1rem;
    text-align: center;
    padding-top: 1rem;
}

.ms-auto {
    list-style: none;
    text-decoration: none;
}

.nav-text:hover {
    text-decoration: underline;
    color: #120edd;
}

.title {
    font-family: 'Italianno', cursive;
    position: fixed;
    top: 0;
    color: rgb(255, 255, 255);   
    padding-top: 1rem;
}

.toggle {
    background-color: white;
}

